<!DOCTYPE html>
<html>
<head>
    <title>Edit Car</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-4">
    <h2 class="mt-4">Edit Car</h2>

    <form th:action="@{/cars/edit/{id}(id=${car.id})}" method="post" th:object="${car}" class="mb-4">
        <input type="hidden" name="id" th:value="${car.id}" />
        <div class="form-group">
            <label for="marque">Marque :</label>
            <input type="text" id="marque" name="marque" th:field="*{marque}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="modele">Modele :</label>
            <input type="text" id="modele" name="modele" th:field="*{modele}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="nbPlaces">Nombre de place :</label>
            <input type="text" id="nbPlaces" name="nbPlaces" th:field="*{nbPlaces}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="immatriculation">Immatriculation :</label>
            <input type="text" id="immatriculation" name="immatriculation" th:field="*{immatriculation}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="couleur">Color:</label>
            <input type="text" id="couleur" name="couleur" th:field="*{couleur}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Modify</button>
    </form>
</div>

</body>

</html>
